<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated milafeteDataModel -->
      <package
            uri="http://www.example.org/milafeteEMFmodel"
            class="dz.smartMilefe.milafete.milafeteDataModel.milafeteDataModelPackage"
            genModel="model/milafeteDataModel.genmodel"/>
   </extension>

</plugin>
